<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Tracker</title>
</head>
<body>
    <form action="">
        {% csrf_token %}
        <select name="" id="">
            {% for food in Food %}  
            <option value="{{ food.name }}">{{ food.name }}</option>
            {% endfor %}
        </select>
<button></button>
    </form>
</body>
</html>